<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kinomichi</title>
    <link rel="stylesheet" href="css/styleFormulaire.css">

    <link rel="icon" type="image/png" href="images/20733.png"/>
</head>
<body>


<form action="/index" method="post">
    <div class="form">
        <div class="title">Welcome to</div>
        <div class="subtitle">Kinomichi</div>
        <div class="subtitle">
            <div id="error-message"></div>
            <div th:if="${param.error}">
                <p th:text="'Erreur : ' + ${param.error}"></p>
            </div>

        </div>
        <div class="input-container ic2">
            <input id="email" class="input" name="email" type="text" placeholder=" " required/>
            <div class="cut cut-short"></div>
            <label for="email" class="placeholder">Email</label>
        </div>

        <div class="input-container ic2">
            <input id="password" class="input" name="password" type="password" placeholder=" " required/>
            <div class="cut"></div>
            <label for="password" class="placeholder">Password</label>
        </div>

        <input type="submit" class="submit" value="Submit">
        <input type="button" class="submit" value="Sign up" onclick="window.location.href='/inscription.html'">
    </div>
</form>
<script>
    const params = new URLSearchParams(window.location.search);
    if (params.has('error')) {
        const errorDiv = document.getElementById('error-message');
        errorDiv.style.color = 'red';
        errorDiv.style.marginBottom = '40px';
        errorDiv.textContent = params.get('error');
    }
</script>

</body>
</html>
