<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="sidebar">
    <h3>Dashboard</h3>

    <header class="header">
        <div class="user-info">
            <span th:text="${currentUser.firstName} + ' ' + ${currentUser.lastName}"></span>
        </div>
    </header>
    <ul>
        <li class="nav-item "><a class="nav-link" href="#">Tableau de bord</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Statistiques</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Utilisateurs</a></li>
    </ul>
    <hr>
    <h5>Administration</h5>
    <ul>
        <li class="nav-item"><a class="nav-link" href="addClub">Create club</a></li>
        <li class="nav-item"><a class="nav-link" href="addEvent">Create a event</a></li>
    </ul>
</div>

<div class="content">
    <div class="row">
        <!-- Stat Cards -->
        <div class="card">
            <div class="card-header">
                <h5>Your Club</h5>
                <h5><span class="blue-square"></span></h5>
            </div>
            <!-- Affichage du nombre total d'utilisateurs -->
            <h2 th:text="${nbClub}">150</h2>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>Revenus</h5>
                <h5><span class="blue-square"></span></h5>
            </div>
            <h2>8,457€</h2>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>Commandes</h5>
                <h5><span class="blue-square"></span></h5>
            </div>
            <h2>14.2%</h2>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <!-- Latest Transactions -->
        <div class="card" style="flex:2;">
            <div class="card-header">
                <h5>Club</h5>
                <h5><span class="blue-square"></span></h5>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of people</th>
                    <th>Date of the next event</th>
                    <th>Title of the event</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clubEvent : ${accueil}">
                    <td th:text="${clubEvent.club.name}"></td>
                    <td th:text="${clubEvent.club.id}"></td>

                    <!-- Protecting against null event object -->
                    <td th:text="${clubEvent.event != null ? clubEvent.event.date : 'No event'}"></td>
                    <td th:text="${clubEvent.event != null ? clubEvent.event.name : 'No event'}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Recent Activity -->
        <div class="card" style="flex: 1;">
            <div class="card-header">
                <h5>Your next Events</h5>
                <h5><span class="blue-square"></span></h5>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Date</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <!-- Protecting against null event object -->
                    <td th:text="${event != null ? event.name : 'No event'}">Event Name</td>
                    <td th:text="${event != null ? event.date : 'No event'}">Date</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>
