<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="images/20733.png"/>
</head>
<body>

<div class="sidebar">
    <h3>Dashboard</h3>

    <header class="header">
        <div class="user-info">
            <span th:text="${currentUser.firstName} + ' ' + ${currentUser.lastName}"></span>
        </div>
    </header>
    <ul>
        <li class="nav-item "><a class="nav-link" href="accueil">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="joinClub">Joint a club </a></li>
        <li class="nav-item"><a class="nav-link" href="updateUser">User</a></li>
    </ul>
    <hr>
    <h5>Administration</h5>
    <ul>
        <li class="nav-item"><a class="nav-link" href="addClub">Create club</a></li>
        <li class="nav-item"><a class="nav-link" href="addEvent">Create a event</a></li>
    </ul>
</div>

<div class="content">
    <div class="row">
        <!-- Stat Cards -->
        <div class="card">
            <div class="card-header">
                <h5>Number of Club</h5>
                <h5><span class="blue-square"></span></h5>
            </div>
            <!-- Affichage du nombre total d'utilisateurs -->
            <h2 th:text="${nbClub}">150</h2>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>Number of event</h5>
                <h5><span class="blue-square"></span></h5>
            </div>
            <h2 th:text="${NbEvent}">150</h2>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>Number of events not yet paid</h5>
                <h5><span class="blue-square"></span></h5>

            </div>

            <h2 th:if="${nbEventToPay == 0}">No event needs to be paid for</h2>
            <h2 th:if="${nbEventToPay != 0}" th:text="${nbEventToPay}">0</h2>

        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <!-- Latest Transactions -->
        <div class="card" style="flex:2;">
            <div class="card-header">
                <h5>Club</h5>
                <h5><span class="blue-square"></span></h5>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of people</th>
                    <th>Date of the next event</th>
                    <th>Title of the event</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clubEvent : ${accueil}">
                    <td th:text="${clubEvent.club.name}"></td>
                    <td th:text="${clubEvent.getNbUser()}"></td>

                    <!-- Protecting against null event object -->
                    <td th:text="${clubEvent.event != null ? clubEvent.event.date : 'No event'}"></td>
                    <td th:text="${clubEvent.event != null ? clubEvent.event.name : 'No event'}"></td>
                    <td>
                        <a th:if="${clubEvent.event != null}" th:href="@{'/eventList/' + ${clubEvent.club.id}}">Event
                            list</a>
                        <span th:if="${clubEvent.event == null}">No event available</span>
                    </td>


                </tr>
                </tbody>
            </table>
        </div>

        <!-- Recent Activity -->
        <div class="card" style="flex: 1;">
            <div class="card-header">
                <h5>Your next Events</h5>
                <h5><span class="blue-square"></span></h5>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Date</th>
                    <th>Price</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="eventList : ${events}">
                    <!-- Protecting against null event object -->
                    <td th:text="${eventList != null ? eventList.event.getName() : 'No event'}">Event Name</td>
                    <td th:text="${eventList != null ? eventList.event.getDate() : 'No event'}">Date</td>


                    <td th:if="${eventList.isPayed}">
                        <span style="color: green;" th:text="${eventList.event.price} + ' €'">Price</span>
                    </td>
                    <td th:if="${!eventList.isPayed}">
                        <span style="color: red;"
                              th:text="${eventList.event != null ? eventList.event.price +' €' : 'No events'}">Events</span>

                        <a th:href="@{'/accueil/' + ${eventList.event.getId()}}" class="pay-button"
                           style="color: blue;">Pay
                            Now</a>
                    </td>


                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>
