<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Événements</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="sidebar">
    <h3>Dashboard</h3>
    <header class="header">
        <div class="user-info">
            <span th:text="${currentUser.firstName} + ' ' + ${currentUser.lastName}"></span>
        </div>
    </header>
    <ul>
        <li class="nav-item"><a class="nav-link" href="/accueil">Tableau de bord</a></li>
        <li class="nav-item"><a class="nav-link" href="/joinClub">Rejoindre un club</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Statistiques</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Utilisateurs</a></li>
    </ul>
    <hr>
    <h5>Administration</h5>
    <ul>
        <li class="nav-item"><a class="nav-link" href="addClub">Create a club</a></li>
        <li class="nav-item"><a class="nav-link" href="addEvent">Create an Event</a></li>
    </ul>
</div>

<div class="row" style="margin-top: 20px; margin-left: 30px; width: 80%;">
    <!-- Liste des événements du club -->
    <div class="card" style="flex: 2; width: 100%;">
        <div class="card-header">
            <h5>Liste des Événements pour le Club: <span th:text="${club.name}"></span></h5>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Nom de l'Événement</th>
                <th>Date de l'Événement</th>
                <th>Time slot</th>
                <th>Price</th>
                <th>Description</th>
                <th>Join the event</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="events : ${eventsWithRegistration}">
                <td th:text="${events != null ? events.event.name : 'No event'}"></td>
                <td th:text="${events != null ? events.event.date : 'No event'}"></td>
                <td th:text="${events != null ? events.event.timeStart+' '+ events.event.timeEnd : 'No event'}"></td>

                <td th:text="${events != null ? events.event.price+' €' : 'No event'}"></td>
                <td th:text="${events != null ? events.event.description : 'No event'}"></td>


                <td>
                    <!-- Afficher le bouton uniquement si l'utilisateur n'est pas membre -->
                    <a th:if="!${events.isUserRegistered}"
                       th:href="@{'/joinEvent/' + ${events.event.id}}">
                        <img th:src="@{/images/Add-Button-PNG.png}" alt="Join Event" style="width: 5%;">
                    </a>
                    <!-- Message si l'utilisateur est déjà membre -->
                    <span th:if="${events.isUserRegistered}">Déjà membre</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
